.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
  }

  .main-header-h1{
    font-size: 40px;
    font-weight: bold;
  }

  .main-header-p{
    font-size: 20px;
    margin-top: 8px;
    width: 600px;
  }
  .main-border {
    padding: 20px;
    margin-top: 20px; 
    background-color: #2270ff3d;; 
    border-radius: 10px; 
    overflow: hidden; 
    width: 50%;
  }
  