.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #71d5fd;
    color: rgb(0, 0, 0);
    transition: left 0.3s ease; 
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar.show {
    left: 0; 
}
